---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Blog</h1>
		<h2>petit blog sympa</h2>
        <a href="/">Accueil</a>
        <a href="/about/">A Propos</a>
        <ul>
            <li><a href="/posts/post-1/"></a>Article 1</li>
            <li><a href="/posts/post-2/"></a>Article 2</li>
            <li><a href="/posts/post-3/"></a>Article 3</li>
        </ul>

        
	</body>
</html>
