---

---
<div id="main-menu" class="nav-links hidden w-full top-20 left-8 bg-gray-600 m-0">
  <a class="block focus:bg-green-600 hover:bg-green-300 text-center py-2.5 text-lg font-bold uppercase no-underline" href="/">Accueil</a>
  <a class="block focus:bg-green-600 hover:bg-green-300 text-center py-2.5 text-lg font-bold uppercase no-underline" href="/about">À propos</a>
  <a class="block focus:bg-green-600 hover:bg-green-300 text-center py-2.5 text-lg font-bold uppercase no-underline" href="/blog">Blog</a>
  <a class="block focus:bg-green-600 hover:bg-green-300 text-center py-2.5 text-lg font-bold uppercase no-underline" href="/tags/">Étiquettes</a>
</div>

